<%-include ("./partials/header.ejs") %> 
<div class ="showPage" >
    <h1 class ="showh1"> <%=Fit.name %> </h1>
<ul class ="showul">
  <img class = "benchpic" src=<%=Fit.img%>>
  <p class = "description">
  <li class ="fitname"> <%= Fit.description %></li>


  <!--<% for ( i in Fit) %> -->

  <a href="/workouts/<%=Fit.id%>/edit"> Edit </a>

  <form action="/workouts/<%=Fit.id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>


  
  </p>
</ul>
</div>
<%-include ("./partials/footer.ejs") %> 


