<%-include ("./partials/header.ejs") %> 

<div class ="showPage" >
    <h1 class ="showh1"> <%=Fit.name %> </h1>
<ul class ="showul">
  <img class = "benchpic" src=<%=Fit.img%>>
  <p class = "description">
    
  <p class="from"> From <a href="https://www.muscleandstrength.com/"> Muscle And Strength </a></p>

  <li class ="fitname"><%= Fit.description %></li>

<div class ="fixup">
  <a class ="editpage" href="/workouts/<%=Fit.id%>/edit"> Edit </a>
<div class = "deleteform">
  <form action="/workouts/<%=Fit.id%>?_method=DELETE" method="POST">
    <input class ="submitbutton" type="submit" value="Delete">
  </div>
</div>
  </form>
  </p>


</ul>
</div>



<%-include ("./partials/footer.ejs") %> 


